body{
  background-color: rgb(53, 47, 91);
}
header {
  margin: 24px 0 24px 0;
}
header h1 {
  margin-bottom: 24px;
}
#main {
  max-width: 400px;
}
input[type="text"], 
input[type="text"]:focus {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

li {
  background-color: #423a6f;
  border: 0 !important;
  margin-bottom: 1px;
}
li i {
  cursor: pointer;
}
